body{font-family: 'Lato', sans-serif;}
.destination-btn{width: 18rem; background-color: white;}
.destination-container{background:url('../../assets/img/wedding1.jpg') no-repeat center;transform: rotate3d(0, 1, 0, 180deg);}
.front-img{width: 110%;height:110%;border-radius: 0 0 80% 0;}
.btn-group{border-radius: 6px;padding:0.5rem;}.px-10{padding-left: 10%; padding-right: 10%;}
.destination-row{background: rgba(255, 255, 255, 0.781);transform: rotate3d(0, 1, 0, -180deg);}
.overlay {
    position: absolute;
    border-radius: 0 0 80% 0;
    background-image: linear-gradient(to top right ,#dc3545eb, #ffff0000);
    bottom: 0;
    top:0;right:0;left:0;
 /* Black see-through */
    color: #f1f1f1;
    width: 110%;
    transition: .5s ease;
    opacity:1;
    color: white;
    font-size: 20px;
    padding-top: 20px;padding-bottom: 20px;
} 
h1{font-weight: 900; font-size: 2.5rem;}
.btn-group button{font-size: 1rem;}
.font-weight-bold{font-weight:bold;}
.font-weight-light{font-weight:300;}
.btn-danger, .bg-danger{background-color: #ff314a!important;}
.ml-1{margin-left: 0.4rem;}
.text-left{text-align: left;}
.text-right{text-align: right;}
.teacher-card-body nav{display: inline-block;}
.teacher-card-body nav.span1{color:white;background-color: #dc3545; padding: 0 0.5rem 0.1rem 0.5rem; top:auto;}
.teacher-card-body nav.span2{color: #dc3545; padding: 0 0.5rem 0.1rem 0.5rem; margin-left:auto}
.teacher-card-body{height:10rem;}
.brows-img{width: 100%;}
.pl-3{padding-left: 1.3rem;}
.why-choose-us{padding-left: 2rem;}
.partner-owl-div{object-fit: contain; object-position: center center; height: 80px !important; margin-left: auto; margin-right: auto;}
.popular-card-right-text{left:1rem;border-radius: 0%; max-width: 50%; font-size: 1.2rem; position:absolute; top:1rem;border-radius: 2px;font-weight: bold;text-align: left;}
.cursive{font-family: 'Lobster', cursive;}
.card-icon-1, .card-icon-2{width:2.5rem; height:2.5rem; padding-top: 0.3rem; border-radius: 50%; background-color: white; font-size: 1.2rem; position:absolute; top:1rem;right:1rem;}.carousel-item{transition: transform 4s ease, all 1.5s ease-out;}
.card-icon-1{color:#dc3545;}
.card{border:none;}
.text-light1{color:rgb(174, 180, 180);}
.btn-icon{margin-right:0.4rem;}
.owl-carousel button.owl-dot{width: 0.6rem; height: 0.6rem;background-color: red;opacity:0.2;margin-left: 0.2rem;margin-right: 0.2rem;border-radius: 50%;}
.owl-carousel button.owl-dot.active{opacity:0.5;}
.teachers-column{display: none;}

@media (max-width:990px){
    .front-img{min-height:35rem;object-fit: cover;}h1{font-size: 2rem;}.brows-img{width: 80%;}
}
@media (max-width:765px){
    .brows-img{width: 90%;}
    .front-img{border-radius: 0 0 70% 0;}.overlay{border-radius: 0 0 50% 0;}.why-choose-us{padding-left: 0.5rem;padding-right: 0.5rem;}.px-10{padding-left:2px; padding-right:2px;}
    /* .front-position-div{margin-top:5rem;} */
    .front-img{height:25rem;object-fit: cover;}
}

