.navbar{position:fixed;width: 100%;z-index: 100;transition: top 0.8s;background-color: #dc3545d4;backdrop-filter: blur(3px);}
.navbar-brand img{height:4rem;}
.navbar-brand{padding-left: 2rem;}
.navbar-toggler{border: none!important;font-size: 1rem;}
.navbar-toggler:focus {box-shadow: none;color:black;}
.navbar-light .navbar-nav .nav-link {color: black; font-weight: bold;}
.nav-icon button{padding:0 0 0 1rem;}
.nav-icon button span.badge{font-size:1.5rem; padding:0 0.35rem;}
.navbar-dark .navbar-nav .nav-link {color: white;}
.nav-icon-text{font-weight: bold; font-size:1.15rem;color:white;}
.navbar-toggler{position: absolute;left: 0;}
ul.navbar-nav li{padding-left: 1.2rem;}
ul.navbar-nav li a{ font-size: 1.15rem; color:white;}
div.nav-icon button.btn span.badge .cart-badge{position: relative;display: inline-block;top: -7px;font-size: 0.8rem; background-color: rgb(224, 0, 0);width: 1rem; height: 1rem; padding-top: 2px; border-radius: 50%; color:white;}
div.navbar-collapse ul.navbar-nav{padding-left: 1rem;padding-right: 1rem;}
a{text-decoration: none; color: inherit;}

@media (max-width:990px){
    ul.navbar-nav li{padding-left: 0rem}
    .nav-icon button{padding:0 0 0 0.3rem;}
    .navbar-collapse {position: absolute; z-index: 1000; background-color: #dc3545e8; width: 100%; top: 4.5rem;left:0;backdrop-filter: blur(3px);}

}
@media (max-width:500px){
    .nav-icon-text{display: none;}
}


