body{font-family: 'Lato', sans-serif;}


.btn-group{
    border-radius: 6px;
    padding:0.5rem;

}
h1
.btn-group button{
    font-size: 1rem;
    color:rgb(156, 165, 165);
}
.font-weight-bold{font-weight:bold;}
.font-weight-light{font-weight:300;}
.btn-danger, .bg-danger{background-color: #ff314a!important;}
.ml-1{margin-left: 0.4rem;}
.text-left{text-align: left;}
.text-right{text-align: right;}
.teacher-card-body nav{display: inline-block;}
.teacher-card-body nav.span1{color:white;background-color: #dc3545; padding: 0 0.5rem 0.1rem 0.5rem; top:auto;}
.teacher-card-body nav.span2{color: #dc3545; padding: 0 0.5rem 0.1rem 0.5rem; margin-left:auto}
.teacher-card-body{height:10rem;}
.brows-img{width: 100%;}
.pl-3{padding-left: 1.3rem;}
.why-choose-us{padding-left: 2rem;}
.partner-owl-div{object-fit: contain; object-position: center center; height: 80px !important; margin-left: auto; margin-right: auto;}
.popular-card-right-text{left:1rem;border-radius: 0%; max-width: 50%; font-size: 1.2rem; position:absolute; top:1rem;border-radius: 2px;font-weight: bold;text-align: left;}
.cursive{font-family: 'Lobster', cursive;}
.card-icon-1, .card-icon-2{width:2.5rem; height:2.5rem; padding-top: 0.3rem; border-radius: 50%; background-color: white; font-size: 1.2rem; position:absolute; top:1rem;right:1rem;}
.card-icon-1{color:#dc3545;}
.card{border:none;}
.text-light1{color:rgb(174, 180, 180);}
.btn-icon{margin-right:0.4rem;}
.owl-carousel button.owl-dot{width: 0.6rem; height: 0.6rem;background-color: red;opacity:0.2;margin-left: 0.2rem;margin-right: 0.2rem;border-radius: 50%;}
.owl-carousel button.owl-dot.active{opacity:0.5;}

@media (max-width:990px){
}
@media (max-width:765px){
    .why-choose-us{padding-left: 0.5rem;padding-right: 0.5rem;}
}

